{
    "namespace": "prometheus",
    "registry_hostname": "172.18.255.1",
    "registry_port": "5000",
    "registry_username": "admin",
    "registry_password": "admin",
    "registry_email": "spam@cloud.com",
}
